/*
 * SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* Work around scrolled window minimum height */
scrolledwindow > scrollbar.vertical slider {
	min-height: 20px;
}

box.welcome {
	padding: 18px;
	border-spacing: 12px;
	line-height: 1.2;
}

box.welcome image {
	opacity: 0.2;
}

gridview.zaps {
	padding: 6px;
}

gridview.zaps > child {
	padding: 0;
}

zap-item {
	min-width: 200px;
	margin: 3px;
	border-radius: 6px;
}

zap-item button.stop,
zap-item button.fadeout,
zap-item button.play,
zap-item button.loop,
zap-item menubutton.edit > button {
	border-radius: 0;
	background-color: alpha(@zap_color_light, 0.3);
}

zap-item button.stop:hover,
zap-item button.fadeout:hover,
zap-item button.play:hover,
zap-item button.loop:hover,
zap-item menubutton.edit > button:hover {
	background-color: alpha(@zap_color_light, 0.2);
}

zap-item button.stop:active,
zap-item button.fadeout:active,
zap-item button.play:active,
zap-item button.loop:active,
zap-item menubutton.edit > button:active {
	background-color: alpha(@zap_color_light, 0.35);
}

zap-item button.loop:checked,
zap-item menubutton.edit > button:checked {
	background-color: alpha(@zap_color_light, 0.6);
}

zap-item button.loop:checked:hover,
zap-item menubutton.edit > button:checked:hover {
	background-color: alpha(@zap_color_light, 0.5);
}

zap-item button.stop {
	border: 0 solid @borders;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-left-radius: 6px;
}

zap-item button.stop:dir(rtl) {
	border-left-width: 1px;
	border-right-width: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 6px;
}

zap-item button.fadeout {
	border: 0 solid @borders;
	border-right-width: 1px;
	border-bottom-left-radius: 6px;
}

zap-item button.fadeout:dir(rtl) {
	border-left-width: 1px;
	border-right-width: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 6px;
}

zap-item button.play {
	border: 0 solid @borders;
	border-right-width: 1px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

zap-item button.play:dir(rtl) {
	border-left-width: 1px;
	border-right-width: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

zap-item.playing button.play {
	border-radius: 0;
}

zap-item button.loop {
	border-bottom: 1px solid @borders;
	border-top-right-radius: 6px;
}

zap-item button.loop:dir(rtl) {
	border-top-left-radius: 6px;
	border-top-right-radius: 0;
}

zap-item menubutton.edit > button {
	border-bottom-right-radius: 6px;
}

zap-item menubutton.edit > button:dir(rtl) {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 0;
}

zap-item progress-bar {
	color: @zap_color_light;
}

listview.collections {
	background: none;
}

listview.collections > row {
	padding: 0;
}

collection-item {
	margin-bottom: 3px;
	border-radius: 6px;
}

collection-item.selected {
	background-color: alpha(@theme_fg_color, 0.08);
}

collection-item button.name {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

collection-item button.edit {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

colorpill > button {
	padding: 0;
	border-radius: 50%;
	outline-offset: 1px;
	background-color: @pill_color_light;
}

colorpill.selected > button {
	box-shadow:
		0 0 0 5px inset @view_bg_color,
		0 0 0 3px inset @accent_color;
}

button.add-zap {
	padding: 0.6em;
	border-top: 1px solid @borders;
	border-radius: 0;
}

add-zap-popup {
	box-shadow: 0 0 64px rgba(0, 0, 0, 0.25);
}

add-zap-popup headerbar {
	border-top: 1px solid @borders;
}

.add-zap-form {
	padding: 8px;
}
